.header{
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 15px;
  /* padding-bottom: 30px; */
  background-color: #333;
}

.titleZone{
  width: 90%;
  height: 100%;
  line-height: 50%;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  border-radius: 10px;
  background-color: #fff;
}

.mainTitle{
  margin-left: 20px;
  align-content: center;
  /* background-color: #66f; */
}

.mainTitle > h1{
  color: #000;
}

/* MainMenu */
.mainMenu{
  margin-left: 50px;
  display: flex;
  /* background-color: #6f6; */
}

.mainMenu > ul > li{
  position: relative;
  margin-left: 20px;
  padding: 15px;
  float: left;
  font-weight: 600;
  color: #333;
}

.mainMenu > ul > li > a{
  display: block;
}

.mainMenu > ul > li:hover{
  border-radius: 5px 5px 0 0;
  background-color: #dfdfdf;
}

.mainMenu > ul > li:hover > .subMenu{
  display:block;
}

/* subMenu */
.subMenu{
  display:none;
  position: absolute;
  width: 150px;
  top: 100%;
  left: 0;
  /* border-radius: 0 5px 5px 5px; */
  background-color: #fff;
  z-index: 1;
}
.subMenu > li{
  display: block;
  padding: 15px;
}
.subMenu > li:hover{
  display:block;
  /* border-radius: 0 5px 5px 5px; */
  background-color: #ddd;
}